<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">



    <!-- 1212 card withh comment -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>


    <div id="spacing-of-cards">
        <div class="card">
            <div class="card-header">
                Project Title 1
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>A well-known quote, contained in a blockquote element.Not only That but also comments will be included inthis card</p>
                    <footer class="blockquote-footer" id="coment-footer"> Commited By<cite title="Source Title">e-GAZ</cite></footer>
                </blockquote>
            </div>
        </div>

    </div>

    <div id="spacing-of-cards">
        <div class="card">
            <div class="card-header">
                Project Title 2
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>A well-known quote, contained in a blockquote element.Not only That but also comments will be included inthis card</p>
                    <footer class="blockquote-footer" id="coment-footer">Commmited by <cite title="Source Title">e-GAZ</cite></footer>
                </blockquote>
            </div>
        </div>

    </div>


    <div id="spacing-of-cards">
        <div class="card">
            <div class="card-header">
                Project Title 3
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>A well-known quote, contained in a blockquote element.Not only That but also comments will be included inthis card</p>
                    <footer class="blockquote-footer" id="coment-footer">Commited by <cite title="Source Title">e-GAZ</cite></footer>
                </blockquote>
            </div>
        </div>

    </div>


    <div id="spacing-of-cards">
        <div class="card">
            <div class="card-header">
                Project Title 4
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>A well-known quote, contained in a blockquote element.Not only That but also comments will be included inthis card</p>
                    <footer class="blockquote-footer" id="coment-footer">Commited by <cite title="Source Title">e-GAZ</cite></footer>
                </blockquote>
            </div>
        </div>

    </div>
</body>

</html>